@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@400;500;700&display=swap");
h1,
h2,
p {
  margin: 0;
}

:root {
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 62%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  color: var(--Dark-grayish-blue);
  background-color: var(--Cream);
}
.cards {
  width: 600px;
}
.cards-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cards-photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(1.1);
  border-radius: 10px 0 0 10px;
}
.cards-text {
  padding: 1.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
}
.cards-text h1 {
  color: var(--Very-dark-blue);
  font-family: "Fraunces", serif;
  line-height: 2.15rem;
  font-weight: 700;
  padding-right: 1rem;
}
.cards-text h2 {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
}
.cards-text p {
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.35rem;
  letter-spacing: 0.02rem;
}
.cars-text .price {
  display: flex;
  margin-top: 0.6rem;
}
.cards-text .price .price-new {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--Dark-cyan);
  position: relative;
}

.cards-text .price .price-old {
  position: absolute;
  font-size: 0.8rem;
  transform: translate(1.2rem, 75%);
  text-decoration: line-through;
}

.cards-text button {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Dark-cyan);
  color: #fff;
  border-radius: 10px;
  border: 0px;
  font-size: 1rem;
}

.cards-text button img {
  margin-right: 0.6rem;
}
.cards-text button {
  font-weight: 500;
}
.cards-text button:hover {
  cursor: pointer;
  background-color: var(--Very-dark-blue);
  transition: all 0.2s;
}

@media screen and (max-width: 540px) {
  body {
    height: 70vh;
  }
  .cards-wrapper {
    grid-template-columns: none;
    grid-template-rows: 250px, 1fr;
  }
  .cards-photo img {
    border-radius: 10px 10px 0px 0px;
  }
  .cards-text {
    padding: 1rem;
    border-radius: 0px 0px 10px 10px;
    height: 320px;
  }
}

@media screen and (max-width: 370px) {
  .cards-text p {
    font-size: 0.8rem;
    padding-bottom: 0.6rem;
  }
  .cards-text h1 {
    font-size: 1.84rem;
    padding-bottom: 0.6rem;
  }
  .cards-text h2 {
    font-size: 0.7rem;
  }
  .cards-text .price .price-new {
    font-size: 1.8rem;
  }
  .cards-text .price .price-old {
    font-size: 0.74rem;
  }
  .cards-text button {
    font-size: 0.9rem;
  }
}
